extends _main

block head
  +stylesheet("homepage")
  script(data-main="/js/homepage", src="/js/vendor/require.js")

block content
  #NickAndBora
    section.splash.visible
    a.enter(href).visible
      img(src='/img/enter.png')
      //- .logo-parallax
      //-   h1 Nick & Bora

    section.home.hidden
