extends _main

block head
  +stylesheet("homepage")
  script(data-main="/js/homepage", src="/js/vendor/require.js")

block content
  #NickAndBora
    section.splash
      .logo
        h1 Nick & Bora

    section.content

    footer
