extends _main

block head
  +stylesheet("homepage")
  script(data-main="/js/homepage", src="/js/vendor/require.js")

block content
  #NickAndBora
    section.splash.visible
    a.enter(href).visible
      img(src='/img/enter.png')
      //- .logo-parallax
      //-   h1 Nick & Bora

    section.home.hidden
      ul
        li
          a.nick(href)
            img.active(src='/img/nick_active.png')
            img.inactive(src='/img/nick_inactive.png')
        li
          a.and(href)
            img.active(src='/img/and_active.png')
            img.inactive(src='/img/and_inactive.png')
        li
          a.bora(href)
            img.active(src='/img/bora_active.png')
            img.inactive(src='/img/bora_inactive.png')
