extends _main

block head
  +yanoneFont()
  +stylesheet("homepage")
  script(data-main="/js/homepage", src="/js/vendor/require.js")

block content
  #NickAndBora

  #gallery
    .left
      h1 Nav
      .links
        ul
          li: a(href='gallery') Gallery
          li: a(href='gallery') Gallery
          li: a(href='gallery') Gallery
          li: a(href='gallery') Gallery

    .gallery
