extends _main

block title
  title Nick & Bora | RSVP

block head
  +yanoneFont()
  +stylesheet("vendor/icono.min")
  +stylesheet("rsvp")
  script(data-main="/js/rsvp", src="/js/vendor/require.js")

block content
  #NickAndBora

