// Gallery

.NickAndBora-gallery
  height: 100%
  white-space: nowrap

  // Images
  .gallery-container
    height: 100%

  .gallery
    position: relative
    display: inline-block
    z-index: 1
    +filter(saturate(1))
    +translate3d(0, 0, 0)
    +transition(all 600ms)

    &.nav-visible
      +filter(saturate(0.4))
      +translate3d(0, 3em, 0)

  .image
    position: relative
    text-align: center

  .polaroid
    background-color: #eee
    padding: 1em 1em 4em
    box-shadow: 0 2px 10px #ccc

  // Horizontal
  .horizontal
    overflow-y: hidden

    .left
      position: absolute

    .gallery
      height: 100%
      padding: 10em 2em

    .image
      display: inline-block
      height: 100%
      padding: 0 2em

    .polaroid
      height: 100%

    .showMore
      +yanonefont()
      display: inline-block
      height: 100%
      vertical-align: top

      .showMore-link
        display: table
        height: 100%
        padding: 10em 0

        a
          display: table-cell
          padding: 1em
          font-size: 2em
          vertical-align: middle
          opacity: 0.2
          +transition(opacity 600ms)

          &:hover
            opacity: 1.0

    img
      height: 100%

  // Vertical
  .vertical
    overflow-x: hidden

    .left
      position: fixed

    .gallery
      width: 100%
      padding: 0 2em

    .image
      display: block
      width: 100%
      padding: 2em 0

    .polaroid
      width: 100%

    img
      width: 100%
