// Gallery
html, body
  height: 100%

#gallery
  height: 100%
  word-spacing: 0
  white-space: nowrap
  float: left

  h1
    font-size: 2em

  ul
    margin: 1.4em 0

  li
    padding: 0.4em 0
    +transition(padding 300ms ease-out)

    &:hover
      padding-left: 0.4em

  a
    text-decoration: none

    &:visited
      color: #666

  .left
    +latofont(100)
    width: 20em
    display: inline-block
    float: left
    background-color: #eee
    padding: 10em 2em
    height: 100%
    font-variant: small-caps

  .gallery
    position: relative
    display: inline-block

  .image
    position: relative
    height: 100%
    text-align: center


.horizontal
  overflow-y: hidden

  .left
    position: absolute

  .gallery
    height: 100%
    margin-left: 20em

  .image
    display: inline-block
    height: 100%
    padding: 10em 2em

    img
      height: 100%


.vertical
  overflow-x: hidden

  .left
    position: fixed

  .gallery
    width: 100%
    padding-left: 20em

  .image
    display: block
    width: 100%
    padding: 2em 10em

    img
      width: 100%
