// Gallery

$imageHeight: 600px
$imageHeightMedium: 500px
$imageHeightSmall: 300px

.NickAndBora-gallery

  // Images
  .gallery
    z-index: 1
    +filter(saturate(1))
    +transition(all 600ms ease-in-out)

    &.nav-visible
      +filter(saturate(0.4))

  .image
    text-align: center

  .polaroid
    display: block
    width: 600px
    margin: 2em auto
    background-color: #f9f9f9
    padding: 0.4em 0.5em 2em
    box-shadow: 0 2px 10px #ccc

    @media screen and (min-height: 960px)
      padding: 1em 1em 4em

    img
      width: 100%

  .showMore
    +yanonefont()
    width: 100%
    padding: 1em
    text-align: center

    a
      font-size: 2em
      color: #333
      text-decoration: none
      padding: 0.2em 0.2em
      opacity: 0.2
      border-bottom: 0.1em solid rgba(#333, 0)
      +transition(opacity 600ms, border 600ms)

      &:hover
        opacity: 1.0
        border-bottom: 0.1em solid #333

      &:visited
        text-decoration: none
        color: #333

