// NAV

$iconSize: 50px
$iconMedium: 35px
$iconSmall: 25px

$icons: celebrate, gallery, guestbook, proposal, registry, rsvp, story, travel, wedding, weddingParty

=icon($name)
  padding: 0
  background: url('/img/nav-icons/#{$name}.png')
  background-repeat: no-repeat
  background-position: 0 0
  background-size: $iconSmall 2*$iconSmall

  @media screen and (min-width: 720px)
    background-size: $iconMedium 2*$iconMedium

  @media screen and (min-width: 960px)
    background-size: $iconSize 2*$iconSize


#nav
  margin: 2.0rem 0
  opacity: 0
  visibility: hidden
  text-align: center
  +transition(opacity 1.2s 1.6s)

  &.nav-visible
    visibility: visible
    opacity: 1

  li
    display: inline-block
    width: $iconSmall
    height: $iconSmall
    margin-right: 1.2rem
    +transition(opacity 300ms)

    @media screen and (min-width: 720px)
      width: $iconMedium
      height: $iconMedium
      margin-right: 2.0rem

    @media screen and (min-width: 960px)
      width: $iconSize
      height: $iconSize
      margin-right: 2.4rem


    &:last-child
      margin-right: 0

  a
    position: relative
    display: block

  .icon
    width: $iconSmall
    height: $iconSmall
    position: relative

    @media screen and (min-width: 720px)
      width: $iconMedium
      height: $iconMedium

    @media screen and (min-width: 960px)
      width: $iconSize
      height: $iconSize

    @each $icon in $icons
      &.#{$icon}-icon
        +icon($icon)

    &:hover
      background-position: 0 -1*$iconSmall

      @media screen and (min-width: 720px)
        background-position: 0 -1*$iconMedium

      @media screen and (min-width: 960px)
        background-position: 0 -1*$iconSize

  .icon-text-container
    margin: 1em auto

    span
      +yanonefont()
      position: absolute
      left: 0
      right: 0
      opacity: 0
      font-size: 1.2em
      letter-spacing: 0.2em
      font-variant: small-caps
      +transition(opacity 300ms)

    .active
      opacity: 1

// Pulldown Nav
#navbar
  .nav
    position: fixed
    width: 100%
    background-color: #eee
    padding-bottom: 2em
    z-index: 2
    +translate3d(0, -100%, 0)
    +transition(transform 600ms)

    &.nav-visible
      +translate3d(0, 0, 0)

  .nav-link
    position: fixed
    top: 1em
    right: 1em
    z-index: 3
    opacity: 0.6
    cursor: pointer
    +scale(1.4)
    +transition(opacity 300ms)

    &:hover
      opacity: 1

    span
      color: #333

