// Wedding Party

@import compass/css3/animation

+keyframes(bounce)
  0%, 100%
    +translate3d(0, 0, 0)
  50%
    +translate3d(0, 0.2em, 0)

=clearfix
  &:after
    content: ''
    display: table
    clear: both

.NickAndBora-weddingParty
  +yanonefont()
  text-align: center

  h1
    font-size: 2.4em
    text-align: center

  .back-to-top
    position: fixed
    bottom: 0.4em
    right: 0.2em
    font-size: 3em
    opacity: 0
    visibility: hidden
    cursor: pointer
    +animation(bounce 2s infinite)
    +transition(opacity 600ms, visibility 0 600ms)

    @media screen and (min-width: 720px)
      font-size: 4em

    &.visible
      opacity: 1
      visibility: visible

  .container
    margin-bottom: 2em
    height: 200%

  .header-text img
    height: 6em

    @media screen and (min-width: 720px)
      height: 7em

    @media screen and (min-width: 960px)
      height: 8em

  .bride-and-groom
    padding: 2em 0

  .party
    +clearfix()
    display: block
    margin-bottom: 2em

    .person
      float: left
      width: 50%
      padding-right: 5%

      img
        height: 10em
        float: right

        @media screen and (min-width: 720px)
          height: 12em

        @media screen and (min-width: 960px)
          height: 15em


    .members
      float: right
      width: 50%
      padding-left: 5%

      img
        height: 3em
        float: left

        @media screen and (min-width: 720px)
          height: 4em

        @media screen and (min-width: 960px)
          height: 5em


      ul
        float: left

      li
        font-size: 1.2em
        text-align: left
        cursor: pointer
        margin: 0.6em 0

        @media screen and (min-width: 720px)
          font-size: 1.3em

        @media screen and (min-width: 960px)
          font-size: 1.4em

        span
          padding: 0.2em 0
          border-bottom: 2px solid rgba(#333, 0)
          +transition(padding 600ms, border 600ms)

        &:hover
          span
            padding: 0.2em 0.4em
            border-bottom: 2px solid rgba(#333, 1)

    .members-text
      +clearfix()

  // Party Members
  .party-members

    .party-member
      width: 80%
      margin: 0 auto
      padding: 3em 0

      @media screen and (min-width: 720px)
        width: 500px

      @media screen and (min-width: 960px)
        width: 600px

      img
        height: 20em

      p
        margin: 0 auto
        font-size: 1.2em
        line-height: 1.4em
