/* Fonts */

// Weights: 200
@mixin yanonefont()
  font-family: 'Yanone Kaffeesatz', 'sans-serif'
  font-weight: 200

// Weights: 300
@mixin openfont()
  font-family: 'Open Sans Condensed', 'sans-serif'
  font-weight: 300

// Weights: 100, 300, 400
@mixin latofont($weight: 300)
  font-family: 'Lato', 'sans-serif'
  font-weight: $weight

// Weights: 400, 700
@mixin cardofont($weight: 400)
  font-family: 'Cardo', 'serif'
  font-weight: $weight

// Weights: 400
@mixin pontanofont()
  font-family: 'Pontano Sans', 'sans-serif'
  font-weight: 400
