@import _base

@import compass/css3/background-size
@import compass/css3/box-sizing
@import compass/css3/transform
@import compass/css3/filter

*
  +box-sizing(border-box)

html, body
  background-color: #f9f9f9

section
  width: 100%
  height: 100%

.visible
  opacity: 1

.hidden
  opacity: 0

.removed
  z-index: 0

.splash
  position: absolute
  top: 0
  left: 0
  background: url('/img/entrance-bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  background-color: #f9f9f9
  +filter(saturate(0.6))
  +transform(translateZ(0))
  +transition(opacity 1s 600ms)

.enter
  +latofont(100)
  position: absolute
  width: 100%
  bottom: 0
  right: 0
  padding: 0 1em
  text-align: right
  text-transform: uppercase
  background-color: rgba(#eee, 0.95)
  z-index: 1
  +transition(background 600ms, opacity 1s)

  &:hover
    background-color: rgba(#f9f9f9, 1.0)

  img
    padding: 0.6em 0
    width: 100px
    +transform(translateZ(0))

    @media(min-width: 40em)
      width: 160px

.logo-parallax
  display: table
  height: 100%
  width: 100%

  h1
    +latofont(300)
    display: table-cell
    text-align: center
    font-size: 3em
    font-variant: small-caps
    vertical-align: middle
    +transform(translate3d(0,0,0))

.home
  position: absolute
  top: 0
  left: 0
  background: url('/img/home-bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  background-color: #f9f9f9
  +filter(saturate(0.6))
  +transform(translateZ(0))
  +transition(opacity 2s 2s)

  .mask
    width: 100%
    height: 100%
    background-color: black
    opacity: 0
    +transition(opacity 600ms)

    &.blurred
      opacity: 0.2

  .saveTheDate
    +latofont(300)
    position: absolute
    text-align: center
    width: 100%
    top: 48%
    font-variant: small-caps

  ul
    position: absolute
    text-align: center
    width: 100%
    top: 40%
    font-size: 0

  li
    display: inline-block

  a
    display: block
    position: relative

    &:hover
      .active
        opacity: 1

  .nick, .bora
    height: 52px
    width: 108px

  .and
    height: 52px
    width: 72px

  img
    position: absolute
    top: 0
    left: 0

  .active
    opacity: 0
    z-index: 1
    +transition(opacity 300ms)


// BIOS
.bios
  +latofont(300)
  position: absolute
  display: none
  opacity: 0
  top: 0
  left: 0
  width: 100%
  +transition(transform 600ms ease-out)

  &.revealing
    +translate3d(0,0,0)

  &.reveal
    display: block
    opacity: 1

.hello
  width: 100%
  height: 100%
  background-color: rgba(white, 0)

.hello-bg
  width: 50%
  min-height: 100%
  background-color: #f9f9f9
  box-shadow: 0 0 20px rgba(#333, 0.6)

.gradient
  position: absolute
  top: 0
  width: 50%
  height: 100%
  background: linear-gradient(to bottom, rgba(#333, 0.2), rgba(#333, 0) 40%)

.overlay
  width: 50%
  height: 100%

.hi
  position: relative
  padding-top: 1em
  margin: 0 auto
  text-align: center

.bio
  position: absolute
  width: 45%
  bottom: 5em
  background-color: rgba(darken(#2c3e50, 15%), 0.8)
  padding: 1.2em 2em

  p
    +yanonefont()
    text-transform: uppercase
    font-size: 1.2em
    line-height: 1.2em
    word-spacing: 0.4em
    letter-spacing: 0.05em
    text-align: left
    padding: 0.6em 0
    color: rgba(#f9f9f9, 0.8)

  .social
    li
      display: inline-block
      margin-right: 0.6em

      &:last-child
        margin-right: 0

      img
        width: 2em
        opacity: 0.8
        +transition(opacity 600ms)

        &:hover
          opacity: 1


// NICK
.nick-bio
  +translate3d(-50%,0,0)

  .hello-bg
    float: left
    background: url('/img/nick-hello.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

  .gradient
    left: 0

  .hi img
    width: 25%

  .overlay
    float: left

  .bio
    left: 0

  .mynameis img
    width: 60%


// BORA
.bora-bio
  +translate3d(50%,0,0)

  .hello-bg
    float: right
    background: url('/img/bora-hello.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

  .gradient
    right: 0

  .hi img
    width: 80%

  .overlay
    float: right

  .bio
    right: 0

  .mynameis img
    width: 100%

