@import _base

@import compass/css3/transition
@import compass/css3/transform
@import compass/css3/user-interface
@import compass/utilities/general/clearfix

html, body
  display: table
  width: 100%
  height: 100%

#NickAndBora
  +yanonefont()

  &.login
    display: table-cell
    vertical-align: middle
    text-align: center

header
  +yanonefont()
  font-size: 5em
  padding: 1em 0

label, input, button
  +yanonefont()
  color: #34495e

label
  display: block
  text-align: left
  font-size: 2.4em
  font-variant: small-caps

input[type="text"]
  font-size: 3em
  width: 100%
  background-color: #f9f9f9
  padding: 1em 2em
  border: none
  outline: none
  opacity: 0.4
  visibility: visible
  +transition(opacity 600ms ease-in-out)
  +input-placeholder
    color: #34495e

  &:focus
    opacity: 1.0

.field-container
  width: 100%
  margin: 0 auto
  margin-bottom: 1em

.authenticating, .authenticated
  opacity: 0
  visibility: hidden
  +transition(opacity 1200ms ease-in-out, visibility 0 1200ms)

.authenticated, .welcome
  text-align: center

.welcome
  opacity: 1
  text-align: center
  +transition(opacity 1200ms 600ms ease-in-out)

.input-container
  border: 0.4rem solid #34495e


#rsvpForm
  width: 80%
  opacity: 1
  margin: 0 auto
  +transition(opacity 1200ms ease-in-out)

  &.loading
    opacity: 0

  input[type="text"]
    opacity: 1
    padding: 0.4em 0.6em

  .field-container
    margin-bottom: 3em

  .radio-container
    input, label
      display: inline-block

    input
      outline: none
      margin: 0 1.2em 1.2em 0.2em
      vertical-align: middle

  .split
    +clearfix()
    margin-bottom: 3em

  .half
    width: 50%
    float: left

  button
    color: #1abc9c
    width: 100%
    padding: 0.4em 0.6em
    font-size: 3em
    margin-bottom: 2em
    background: none
    border: 0
    outline: none
    text-transform: uppercase
    border: 0.4rem solid #1abc9c
