@import _base

html, body
  display: table
  width: 100%
  height: 100%

#NickAndBora
  display: table-cell
  vertical-align: middle
  text-align: center

input
  +yanonefont()
  padding: 1em 2em
  border: none
  outline: none
  font-size: 3em
  width: 80%
